@*@model ASP.ExamTask_v1._1.Models.Student*@

@{
    ViewBag.Title = "Табель студентов";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Группа </h4>
    <hr />
    <table class="table">
        <caption>@ViewBag.Title</caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Балл</th>
            </tr>
        </thead>



        <tbody>
        </tbody>
        @*@Html.DisplayNameFor(model => model.Grade.GradeDescr)
        </thead>

        <dd>
            @Html.DisplayFor(model => model.Grade.GradeDescr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>*@

    </table>
</div>
<p></p>
   
       
