@using System.Web


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <ul class="header_menu">
            <li>@Html.ActionLink("К началу", "Index", "Home")</li>
            <li>@Html.ActionLink("Табель", "Index", "Students")</li>
            <li>@Html.ActionLink("Добавить данные", "CreateStudent", "Students")</li>
            <li>@Html.ActionLink("Система баллов", "CreateGrade", "Students")</li>
            <li>@Html.ActionLink("О Портале", "About", "Home")</li>
        </ul>
    </div>
    <h2>@ViewBag.Message</h2>
    <div>
        @RenderBody()
    </div>
    <div class="footer">
        @Html.ActionLink("На Главную", "Index", "Home")
    </div>
</body>
</html>
