<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Style.css")" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <ul class="menu__header">
            <li>@Html.ActionLink("На главную", "Index")</li>
            <li>@Html.ActionLink("Табель студентов", "Table")</li>
            <li>@Html.ActionLink("Добавить", "InputData")</li>
        </ul>
        <h2>Студенты и оценки </h2>
    </div>
    <div>
        @RenderBody()
    </div>
    <div class="footer">
        <h5>2023.Курс ИТМО ASP.NET (MVC). 124-28. GORBANEV (TM). <a href="https://github.com/gsv80/ITMO.ASP/">github</a></h5>
   
    </div>
</body>
</html>
